---
interface Props {
  type: string;
  date: string;
  title: string;
  subtitle: string;
  description: string;
}

const { type, date, title, subtitle, description } = Astro.props;
---

<div
  class="relative bg-white/5 p-6 min-[2000px]:p-20 rounded-lg border border-white/5 backdrop-blur-3xl pointer-events-none"
>
  <div class="w-6 h-6 bg-black/70 mix-blend-exclusion border border-white/10 absolute -top-3 -left-[49px] rounded-full"></div>
  <div class="text-sm flex flex-col">
    <span class="text-white/20 min-[2000px]:text-2xl min-[1920px]:text-xl">{date}</span>
    <span class="text-white/40 min-[2000px]:text-2xl min-[1920px]:text-xl">{type}</span>
  </div>
  <h4
    class="text-xl min-[2000px]:text-8xl min-[1920px]:text-3xl font-bold text-yellow-200"
  >
    {title}
  </h4>
  <h5 class="text-lg min-[2000px]:text-3xl min-[1920px]:text-2x">{subtitle}</h5>
  <p class="text-base text-[#417655] min-[2000px]:text-2xl min-[1920px]:text-xl">{description}</p>
</div>
