---
import ExperienceInfo from "./ExperienceInfo.astro";
import { Experiences } from "../data/experience";
---

<div>
  <h2
    class="text-4xl
    sm:text-5xl
    xl:ml-5
    md:text-6xl
    lg:text-8xl
    font-black
    text-full
    max-w-[70vw]
    2xl:text-[12vw]
    2xl:max-w-[70vw]
    pointer-events-none
    uppercase
    mb-10"
  >
    Experience
  </h2>

  <div class="w-[60vw] mx-auto *:my-10 border-l-2 border-white/10 border-dashed pl-[35px]">
    {
      Experiences.map(item => (
        <ExperienceInfo
          title={item.title}
          subtitle={item.subtitle}
          description={item.description}
          type={item.type}
          date={item.date}
        />
      ))
    }
  </div>
</div>

<style>
  ._title-stroke {
    -webkit-text-stroke: 1px #ffffffac;
  }
  ._bg-text-stroke {
    -webkit-text-stroke: 1px #ffffff20;
  }
</style>
